<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Quản trị hệ thống</title>
    <link rel="stylesheet" href="~/Content/Administration/main_styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Content/PagedList.css" />
    <script src="~/Scripts/Administration/scripts.js"></script>
   
</head>
<body>

    <div class="container">
        <section class="side-bar">
            <div class="logo">
                <a href="@Url.Action("Index", "Home", FormMethod.Post)">
                    <img src="~/Images/icon.png" width="64" height="64" />
                    <h1>MoviesRelax.com</h1>
                </a>
            </div>

            <ul class="fa-ul menu">
                <li>
                    <a href="#" id="general-link" class="menu-link">
                        <i class="fa-lg fa-solid fa-house-chimney" style="color: white"></i>
                        Tổng quát
                    </a>
                </li>
                <li>
                    <button id="category-link" class="menu-link dropdown">
                        <i id="bar" class="fa-lg fa-solid fa-bars" style="color:white"></i>
                        Danh mục
                        <i class="fa-solid fa-caret-down"></i>
                    </button>

                    <div class="sub-menu">
                        <a href="@Url.Action("Index", "MovieGenres")">
                            <p>
                                <i class="fa-solid fa-film" style="color:white"></i>
                                Thể loại phim
                            </p>

                        </a>
                        <a href="@Url.Action("Index", "Country")">
                            <p>
                                <i class="fa-solid fa-earth-africa" style="color: white"></i>
                                Quốc gia
                            </p>
                        </a>
                        <a href="@Url.Action("Index", "Actor")">
                            <p>
                                <i class="fa-solid fa-person" style="color:white"></i>
                                Diễn viên
                            </p>
                        </a>
                        <a href="@Url.Action("Index", "Director")">
                            <p>
                                <i class="fa-solid fa-user-tie"></i>
                                Đạo diễn
                            </p>
                        </a>
                        <a href="@Url.Action("Index", "SubTitle")">
                            <p>
                                <i class="fa-solid fa-closed-captioning" style="color:white"></i>
                                Phụ đề
                            </p>

                        </a>
                    </div>
                </li>
                <li>
                    <a href="#" class="menu-link">
                        <i class="fa-lg fa-solid fa-clapperboard" style="color: white"></i>
                        Quản lý phim
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Users")" class="menu-link">
                        <i class="fa-lg fa-solid fa-users" style="color: white"></i>
                        Quản lý người dùng
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-link">
                        <i class="fa-lg fa-solid fa-elevator" style="color: white"></i>
                        Phân quyền
                    </a>
                </li>

            </ul>
        </section>

        <!--Home-->
        <section class="home">
            <div class="home-header">
                <div class="function-name">
                    <h1>@ViewBag.Title</h1>
                </div>
                <div class="search-container">
                    <input type="search" width="320" placeholder="Nhập nội dung cần tìm..." />
                </div>

                @*<nav>
                        <ul>
                            <li class="function-name"><h2>Tổng quát</h2></li>
                            <li class="search-container"><input type="search" width="320" placeholder="Nhập nội dung cần tìm..."/></li>
                            <li>
                                <ul class="user-info">
                                    <li><img src="~/archives/users/admin.png" /></li>
                                    <li>
                                        <a href="#">Lê Văn Quốc</a>
                                        <ul class="user-menu">
                                            <li><a href="#">Thông báo</a></li>
                                            <li><a href="#">Thông tin tài khoản</a></li>
                                            <li><a href="#">Đăng xuất</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>*@
            </div>
            <div class="home-content">
                @RenderBody()
            </div>
        </section>
    </div>
    <script>
        var menu = document.getElementsByClassName("menu");
        var btns = menu.getElementsByClassName("menu-link");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>


</body>
</html>
