@model MoviesRelax.Models.DIRECTOR

@{
    ViewBag.Title = "Xoá dữ liệu";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DeleteData", "Director", FormMethod.Post, new { name = "frm-delete-director", enctype = "multipart/form-data", @class = "form-data-input" }))
{
    <div class="text">

        @Html.HiddenFor(m => m.Code)

        <!--Name-->
        <div class="form-element">
            @Html.LabelFor(m => m.Name, new { @class = "label required" })
            @Html.TextBoxFor(m => m.Name, new { @class = "textbox-control", @readonly = "readonly" })
        </div>

        <div class="form-element">
            <!--DOB-->
            <div id="day-birth" class="form-child-element">
                @Html.LabelFor(m => m.DOB, new { @class = "label required" })
                @Html.TextBoxFor(m => m.DOB, new { type = "date", @class = "date-control", @readonly = "readonly" })
            </div>

            <!--PlaceOBirth-->
            <div class="form-child-element" id="place-birth">
                @Html.LabelFor(m => m.PlaceOBirth, new { @class = "label required" })
                @Html.TextBoxFor(m => m.PlaceOBirth, new { @class = "textbox-control", @readonly = "readonly" })
            </div>
        </div>

        <!--Height-->
        <div class="form-element">
            @Html.LabelFor(m => m.Height, new { @class = "label required" })
            @Html.TextBoxFor(m => m.Height, new { @class = "textbox-control", @readonly = "readonly" })
        </div>

        <!--Couple-->
        <div class="form-element">
            @Html.LabelFor(m => m.Couple, new { @class = "label" })
            @Html.TextBoxFor(m => m.Couple, new { @class = "textbox-control", @readonly = "readonly" })
        </div>

        <!--Children-->
        <div class="form-element">
            @Html.LabelFor(m => m.Children, new { @class = "label" })
            @Html.TextBoxFor(m => m.Children, new { @class = "textbox-control", @readonly = "readonly" })
        </div>

        <!--Prize-->
        <div class="form-element">
            @Html.LabelFor(m => m.Prize, new { @class = "label" })
            @Html.TextBoxFor(m => m.Prize, new { @class = "textbox-control", @readonly = "readonly" })
        </div>

        <!--Descriptions-->
        <div class="form-element">
            @Html.LabelFor(m => m.Descriptions, new { @class = "label" })
            @Html.TextAreaFor(m => m.Descriptions, new { @class = "textbox-control", @readonly = "readonly" })
        </div>

        <div class="form-element">
            <p class="buttons">
                <input type="submit" value="Xác nhận" id="button-confirm" class="button" />
                <a href="@Url.Action("Index", "Director")" class="button" id="button-cancel">Huỷ bỏ</a>
            </p>
        </div>
    </div>

    <div class="image">
        <p>
            @{
                if (!string.IsNullOrEmpty(Model.PhotoPath) && File.Exists(Server.MapPath(Model.PhotoPath)))
                {
                    <img src="@Url.Content(Model.PhotoPath)" id="display-image" />
                }
                else
                {
                    <img src="~/Images/no-image.svg" id="display-image" />
                }
            }
        </p>
    </div>
    
}

